<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <nav>
      <a href="/">home</a>
      <a href="/signup">signup</a>
      <a href="/profile">profile</a>
      <a href="/login">Log in</a>
      <a href="/logout">Log out</a>

    </nav>
    <%= yield %>

  </body>
</html>
