<h1>Sign Up</h1>
<% if flash[:error].each do |error|%>
<ol>
<li><%error%></li>
<% end %>

</ol>

  <% end %>
<form class=""  method="post">
  <input type="email" placeholder="ur email" name="user[email]"><br>
  <input type="password" placeholder="create pass" name="user[password]"><br>
  <input type="submit" value="/signup"><br>
</form>
